* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 34px;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.burble {
    color: #DB1686;
}

.bold {
    font-weight: 700;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav a {
    display: inline-block;
}

.navActions {
    display: flex;
    line-height: 56px;
}

.navActions a img {
    height: 30px;
    vertical-align: middle;
}

.navActions a {
    display: inline-block;
    padding: 4px;
    line-height: 42px;
}

.navActions a img.menuIcon {
    height: 18px;
}

.right {
    float: right;
}

.imageSection:before {
    content: "";
    width: 75%;
    height: 75vh;
    left: 12%;
    position: relative;
    background-image: url(images/cover.svg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.imageSection {
    height: 80vh;
    position: relative;
    margin-top: 32px;
}

.blogPostInfo {
    position: absolute;
    bottom: 60px;
    left: 10%;
    max-width: 600px;
}

.blogPostInfo h1,
.blogPostInfo .Info {
    background-color: #000;
    border-radius: 15px;
    padding: 15px;
}

.blogPostInfo h1 {
    margin-bottom: 16px;
    margin-left: -8%;
    color: #DB1686;
    display: inline-block;
    padding-right: 30px;
}

.blogPostInfo .Info {
    margin-left: -4%;
    color: white;
}

.description img {
    float: right;
    width: 120px;
    margin-right: 20px;
}

.articles div {
    margin-top: 30px;
}

.articles p {
    margin-top: 15px;
}

.articles img {
    margin-top: 20px;
}

.tags div {
    margin-top: 30px;
}

.tags .tagsWords span {
    background-color: #D8D8D8;
    border-radius: 25px;
    padding: 5px 25px;
    margin-right: 10px;
}

.tags .tagsWords #tags {
    margin-top: 15px;
}

.tags .related img {
    margin-top: 15px;
}

.tags .related #title {
    font-size: 26px;
}

.tags .related h3 {
    font-size: 23px;
    font-weight: 400;
}

footer {
    background: #F9F9F9;
    height: 100px;
    line-height: 56px;
    margin-top: 80px;
}

footer p {
    margin-top: 20px;
}

footer img {
    float: right;
    margin-top: -40px;
}

.articles h1,
.articles p,
.description h1,
.description p,
.articles img,
.description img {
    max-width: 900px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
